$default-size: 16px;
$aside-width:  35%;
$color-dark-background: #111;
$color-dark-text: #CCC;
$color-dark-link: #FFF;
$color-light-background: #EEE;
$color-light-text: #444;
$color-light-link: #000;
