@import "constants";
@import "compass";

body {
	padding: $default-size;
	min-width: 320px;
	max-width: 1350px;
	margin: 0 auto;
	zoom: 1;
}

header {
	overflow: hidden;
	padding-bottom: $default-size*1.5;
	.title {
		float: left;
		h2 {
			margin: 0 0.5rem;
		}
	}
	aside {
		margin-left: 1em;
		a {
			font-size: larger;
			font-weight: normal;
			margin-top: 0em;
		}
	}
}

#content aside {
	width: $aside-width;
}

aside {
	overflow: hidden;
	padding-left: $default-size;
	a, span {
		line-height: 1.4;
		display: block;
		float: left;
		clear: both;
	}
	i {
		width: 15px;
		text-align: center;
		margin-right: $default-size/2;
	}
	.github-stats {
		margin-left: 2px;
		a {
			clear: none;
			em {
				font-style: normal;
			}
			label {
				display: none;
				cursor: pointer;
			}
			&:first-child {
				margin-right: $default-size/2;
			}
			&[href]:hover {
				label {
					display: inline;
				}
				em {
					display: none;
				}
			}
		}
	}
}

aside, p {
	margin-top: $default-size/2;
	float: left;
}

#content {

	section, article {
		padding: $default-size;
	}

	article, aside {
		overflow: hidden;
	}

	small {
		display: block;
		margin-left: $default-size/2;
	}

	section > small {
		margin-top: $default-size/4;
	}

	p {
		line-height: 1.4;
		width: 100% - $aside-width;
	}

}

@media (max-width: 790px) {
	aside, #content p {
		float: none;
		width: auto;
		padding: 0;
	}
	aside {
		span, a {
			float: none;
			display: inline-block;
			margin-right: $default-size;
		}
	}
	header {
		aside {
			margin-left: 12.5em;
			a {
				margin-right: 11px;
			}
		}
		.title {
			float: none;
		}
	}
}

@media (max-width: 480px) {
	body {
		font-size: 14px;
	}
	header {
		aside, .title h2 {
			margin: 0;
		}
		text-align: center;
	}
	#content {
		section {
			padding: 0;
			& > h3 {
				border: solid 1px #444;
				border-width: 1px 0;
				padding: $default-size/2 0;
			}
		}
		article {
			padding: $default-size 0;
			border-bottom: dashed 1px #CCC;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.hide-320 {
		#content &, & {
			display: none;
		}
	}
}